{% extends 'base.html.twig' %}

{% block content %}

    {# read and display all flash messages #}
    {% for label, messages in app.flashes(['danger', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">

        <div class="col-auto mr-auto">
            <h2>Filtrer les sorties</h2>
        </div>
        <div class="col-auto">
            Date du jour :  {{ "now"|date("d/m/Y") }}<br>
            Participant : {{ user.prenom }} {{ user.nom }}
        </div>
    </div>

    <div class="row">
        <form method="post" action="{{ path('home') }}" class="col-lg">
            <div class="row">
                {# DIV CHAMPS DE RECHERCHE #}
                <div class="col-lg-4">
                    <div class="form-group row">

                        <label for="site-select" class="col-lg col-form-label">Site : </label>
                        <div class="col-lg">
                            <select class="form-control" name="site-select">
                                <option value="">-- Selectionnez un site --</option>
                                {% for site in sites %}
                                    <option value="{{ site.id }}">{{ site.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="search-bar" class="col-lg col-form-label">Le nom de la sortie contient : </label>
                        <div class="col-lg">
                            <input type="search" class="form-control" name="search-bar" aria-label="Search">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="entre" class="col-lg col-form-label">Entre </label>
                        <div class="col-lg">
                            <input type="date" class="form-control" name="dateEntre">
                        </div>
                        <label for="et" class="col-lg col-form-label">et</label>
                        <div class="col-lg">
                            <input type="date" class="form-control" name="dateEt">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">
                </div>
                {# DIV FLITRES CHECKBOXES #}
                <div class="col-lg-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="sortOrg">
                            <label for="sortOrg" class="form-check-label">Sorties dont je suis l'organisateur/trice</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="sortInsc">
                            <label for="sortInsc" class="form-check-label">Sorties auxquelles je suis inscrit/e</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="sortPasInsc">
                            <label for="sortPasInsc" class="form-check-label">Sorties auxquelles je ne suis pas inscrit/e</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="sortPass">
                            <label for="sortPass" class="form-check-label">Sorties passées</label>
                        </div>
                </div>
                <div class="col-lg text-justify">
                    <!-- Bouton Rechercher-->
                    <button class="btn btn-success btn-lg">Rechercher</button>
                </div>
            </div>


        </form>
    </div>




    <div id="table-body-scroll">

        <table class="table table-striped" >
            <thead class="thead-light">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th >inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>

            {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateSortie|date("d/m/Y H:i") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                        <td>{{ sortie.participants|length }}/{{ sortie.nbPlace }}</td>
                        <td>{{ sortie.etat }}</td>
                        <td>
                            {% if user in sortie.participants %}
                                X
                            {% endif %}
                        </td>
                        <td><a href="{{ path('a_profil', {'id' : sortie.organisateur.id} ) }}">{{ sortie.organisateur }}</a></td>
                        <td>
                            <!-- La sortie est ouverte et le user n'est pas inscrit et il y a de la place -->
                            {% if sortie.etat == 'Ouvert' and user not in sortie.participants and sortie.organisateur.id != user.id
                                and sortie.participants|length < sortie.nbPlace%}
                                <a href="{{ path('afficher', {'id' : sortie.id} ) }}">Afficher</a>
                                <a href="{{ path('inscrire', {'id' : sortie.id} ) }}">- S'inscrire</a>
                            {% endif %}

                        <!-- La sortie est ouverte et le user est inscrit -->
                        {% if sortie.etat == 'Ouvert' and user in sortie.participants %}
                            <a href="{{ path('afficher', {'id' : sortie.id} ) }}">Afficher</a>
                            <a href="{{ path('desister', {'id' : sortie.id}) }}">- Se désister</a>
                        {% endif %}

                        <!-- La sortie est ouverte mais il n'y a plus de place -->
                        {% if sortie.etat == 'Ouvert' and user not in sortie.participants and sortie.organisateur.id != user.id
                            and sortie.participants|length == sortie.nbPlace %}
                            <a href="{{ path('afficher', {'id' : sortie.id} ) }}">Afficher</a>
                        {% endif %}

                        <!-- La sortie est ouverte et le user est organisateur -->
                        {% if sortie.etat == 'Ouvert' and user.id == sortie.organisateur.id %}
                            <a href="{{ path('afficher', {'id' : sortie.id} ) }}">Afficher</a>
                            <a href="{{ path('annuler', {'id' : sortie.id} ) }}">- Annuler</a>
                        {% endif %}

                            <!-- La sortie est en cours -->
                            {% if sortie.etat == 'En cours' or sortie.etat == 'Passée' %}
                                <a href="{{ path('afficher', {'id' : sortie.id} ) }}">Afficher</a>
                            {% endif %}

                            <!-- La sortie est en création et le user est organisateur -->
                            {% if sortie.etat == 'En création' and user.id == sortie.organisateur.id %}
                                <a href="{{ path('updateSortie', {'id' : sortie.id}) }}">Modifier</a>
                                <a href="{{ path('publier', {'id' : sortie.id}) }}">- Publier</a>
                            {% endif %}

                        <!-- La sortie est clôturée et le user n'est pas inscrit -->
                        {% if sortie.etat == 'Clôturée' and user not in sortie.participants %}
                            <a href="{{ path('afficher', {'id' : sortie.id} ) }}">Afficher</a>
                        {% endif %}

                        <!-- La sortie est clôturée et le user est inscrit -->
                        {% if sortie.etat == 'Clôturée' and user in sortie.participants %}
                            <a href="{{ path('afficher', {'id' : sortie.id} ) }}">Afficher</a>
                            <a href="{{ path('desister', {'id' : sortie.id}) }}">- Se désister</a>
                        {% endif %}

                            <!-- L'administrateur a tout les droits -->
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('annuler', {'id' : sortie.id} ) }}">- Annuler</a>
                                <a href="{{ path('updateSortie', {'id' : sortie.id}) }}">- Modifier</a>
                                <a href="{{ path('publier', {'id' : sortie.id}) }}">- Publier</a>
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}
        </table>
    </div>


    <a href="{{ path('createsortie') }}"> <button class="btn btn-primary btn-lg">Créer une sortie</button></a>

{% endblock %}

{% block title %}Sortir | Accueil{% endblock %}
