{% extends 'base.html.twig' %}

{% block content %}

    <div id="datejour">
        Date du jour :  {{ "now"|date("d/m/Y") }}<br>
        Participant : {{ participant.prenom }} {{ participant.nom }}
    </div>

    <h2 class="h2Home">Filtrer les sorties</h2>

    <form method="post" action="{{ path('home') }}">
        <div id="filtres">
            <div id="filtresGeo">
                <label for="site-select">Site : </label>
                <select id="site-select" name="site-select">
                    <option value="">-- Selectionnez un site --</option>
                    {% for site in sites %}
                        <option value="{{ site.id }}">{{ site.nom }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="search-bar">Le nom de la sortie contient : </label>
                <input type="search" id="search-bar" name="search-bar" aria-label="Search">
                <br>
                <label for="entre">Entre </label><input type="date" id="entre" name="dateEntre">
                <label for="et">et</label><input type="date" id="et" name="dateEt">
            </div>
            <div id="lesCheckbox">
                <div id="laCbx">
                    <input type="checkbox" id="sortOrg" name="sortOrg">
                    <input type="checkbox" id="sortInsc" name="sortInsc">
                    <input type="checkbox" id="sortPasInsc" name="sortPasInsc">
                    <input type="checkbox" id="sortPass" name="sortPass">
                </div>
                <div id="lblCbx">
                    <label for="sortOrg">Sorties dont je suis l'organisateur/trice</label>
                    <label for="sortInsc">Sorties auxquelles je suis inscrit/e</label>
                    <label for="sortPasInsc">Sorties auxquelles je ne suis pas inscrit/e</label>
                    <label for="sortPass">Sorties passées</label>
                </div>
            </div>

            <!-- Bouton Rechercher-->
            <button>Rechercher</button>
        </div>
    </form>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">inscrits/ places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateSortie|date("d/m/Y H:i") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                        <td>{{ sortie.participants|length }}/{{ sortie.nbPlace }}</td>
                        <td>{{ sortie.etat }}</td>
                        <td>
                            {% if participant in sortie.participants %}
                                X
                            {% endif %}
                        </td>
                        <td><a href="{{ path('a_profil', {'id' : sortie.organisateur.id} ) }}">{{ sortie.organisateur }}</a></td>
                        <td>
                            {% if sortie.etat == 'Ouvert' %}
                                <a href="{{ path('afficher', {'id' : sortie.id} ) }}">Afficher</a>
                            {% endif %}

                            {% if sortie.etat == 'Ouvert' and participant.id == sortie.organisateur.id %}
                                <a href="{{ path('annuler', {'id' : sortie.id} ) }}">- Annuler</a>
                            {% endif %}

                            {% if sortie.etat == 'En cours' or sortie.etat == 'Passée' %}
                                <a href="{{ path('afficher', {'id' : sortie.id} ) }}">Afficher</a>
                            {% endif %}

                            {% if participant in sortie.participants %}
                                <a href="{{ path('desister', {'id' : sortie.id}) }}">- Se désister</a>
                            {% endif %}

                            {% if participant.id == sortie.organisateur.id and sortie.etat == 'En création'%}
                                <a href="#">Modifier</a>
                                <a href="#">- Publier</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <a href="{{ path('createsortie') }}"> <button id="btnCreateSortie">Créer une sortie</button></a>

{% endblock %}

{% block title %}Sortir | Accueil{% endblock %}
