{% extends 'base.html.twig' %}

{% block title %}Sortir | Connexion{% endblock %}

{% block content %}
    <form  class="container">
        <div class="row">
            <div class="col-5">
                <img src="{{ asset('img/profil/profil.jpg') }}" alt="profil" width="50%">
                <input type="file">
            </div>
            <div class="col-5">
                <h3>Mon profil</h3>
                <label for="inputUsername">Pseudo</label>
                <input name="username" type="text" id="inputEmail" class="form-control" placeholder="{{ currentUser.pseudo }}">

                <label for="inputUsername">Prenom</label>
                <input name="username" type="text" id="inputEmail" class="form-control" placeholder="{{ currentUser.prenom }}">

                <label for="inputUsername">Nom</label>
                <input name="username" type="text" id="inputEmail" class="form-control" placeholder="{{ currentUser.nom }}">

                <label for="inputUsername">Téléphone</label>
                <input name="username" type="text" id="inputEmail" class="form-control" placeholder="{{ currentUser.telephone }}">

                <label for="inputUsername">Password</label>
                <input name="username" type="text" id="inputEmail" class="form-control" placeholder="">

                <label for="inputUsername">Ville</label>
                <input name="username" type="text" id="inputEmail" class="form-control" placeholder="{{ currentUser.ville }}"><br>
                <button class="btn btn-primary" type="submit">Modifier</button>
            </div>
        </div>

    </form>
{% endblock %}